<html>

<body>
{{#each posts}}
    <div>
        <h1>{{this.title}}</h1>
        <p>{{this.content}}</p>
        <img src="{{this.image}}" alt="{{this.title}}">
    </div>
{{/each}}   <!-- dont' forget this line!-->

</body>

</html>